@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar {
        display: none;
    }
}

#cta {
  background-image: url("https://img.freepik.com/free-vector/cartoon-working-day-scene-illustration_52683-62609.jpg?t=st=1736881936~exp=1736885536~hmac=b7170dfb179c7b254bf9e6172acd625c2460c142e0a88dfc5e5aeab13ffd1063&w=900");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ham {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.ham-t,
.ham-md,
.ham-b {
  position: absolute;
  width: 24px;
  height: 2px;
  transition: all 0.5s;
  top: 0;
  left: 0;
  background: black;
  transform: rotate(0deg);
}

.ham-md {
  transform: translateY(7px);
}

.ham-b {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .ham-t {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .ham-md {
  display: none;
}

.open .ham-b {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.slidein {
    animation: slidein 0.5s forwards;
}

.slideout {
    animation: slideout 0.5s forwards;
}

@keyframes slidein {
    from {
        transform: translateY(-150%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideout {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-150%);
    }
}